.review {
    margin: 0 8% 10% 8%;
    padding: 5% 10%;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review__sub {
    color: var(--cor-secundaria);
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}
    
.review__titulo {
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--cor-primaria);
    text-align: center;
    padding: 3% 0 4%;
    line-height: 130%;
}

.review__img {
    width: 72px;
}

.review__user {
    padding: 1.5% 0;
    font-size: 1.1rem;
    color: var(--cor-primaria);
}

.review__userinfo {
    color: var(--cor-terciaria);
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    .review {
        margin: 10% 5% 20%;
        padding: 5%;
    }

    .review__sub {
        font-size: 0.8rem;
    }

    .review__titulo {
        font-size: 1.8rem;
        line-height: 115%;
        padding: 3% 0 8%;
    }

    .review__img {
        width: 56px;
    }

    .review__user {
        font-size: 1rem;
    }

    .review__userinfo {
        font-size: 0.8rem;
    }
}