.vagas {
    padding: 0 25% 5%;
}

.vagas__categoria {
    display: flex;
    flex-direction: column;
    padding: 2% 0;
}

.vagas__categoria__titulo {
    font-size: 1.2rem;
    color: var(--cor-primaria);
    padding-bottom: 4%;
    font-weight: 600;
}

.vagas__bloco {
    padding: 3.5% 2%;
    border: 2px solid rgba(102, 112, 133, 0.2);
    border-radius: 16px;
    margin-bottom: 3%;
}

.vagas__bloco__titulo {
    font-size: 1.1rem;
    color: var(--cor-primaria);
    padding-bottom: 4%;
}

.vagas__bloco__descricao {
    display: flex;
    align-items: center;
}

.vagas__bloco__descricao__txt {
    color: var(--cor-terciaria);
    font-size: 0.9rem;
    padding: 0 5% 0 0;
}

@media screen and (max-width: 1024px) {
    .vagas {
        padding: 5% 10%;
    }

    .vagas__categoria__titulo {
        padding-bottom: 5%;
    }

    .vagas__bloco {
        margin-bottom: 5%;
        padding: 5% 3%  ;
    }

    .vagas__bloco__descricao__txt {
        padding: 0 7% 0 0;
    }
}